<canvas id="board" width="1000" height="2000" style="height: 50vh;"></canvas>

<script src="/static/drawTetris.js"></script>
<script src="/static/utilityTetris.js"></script>
<script src="/static/modelTetris.js"></script>
<script src="/static/controlTetris.js"></script>